@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap" rel="stylesheet');

:root {
  --col-01: white;
  --col-02: #d604ee;
  --col-03: #0000ff;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-image: linear-gradient(90deg, #090d1d 0%, #030735 100%);
  color: var(--col-01);
  font-size: 0.9rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}

.container {
  max-width: 900;
  margin: 1rem 2rem;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* each box its own size */
  align-items: flex-center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1 fr));
  gap: 1rem;
}

.card {
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  margin: 1rem;
  border-radius: 0.25rem;
  border: 1px solid var(--col-02);
  width: 200px;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
}

.card.flip {
  --rotate-y: 180deg;
  border: 1px solid var(--col-03);
  justify-items: center;
  align-items: center;
}

.card .front,
.card .back {
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 15.5%;
  left: 0%;
  /* translate: 50%, -50%; */
  text-align: left;
}

.card .front {
  /* color: var(--col-02); */
}

.flashcard-options {
  margin-top: 1rem;
  color: var(--col-01);
  font-weight: 300;
}

.flashcard-option {
  padding: 4px;
}

.flashcard-option:hover {
  background-color: var(--col-02);
}
