:root {
  --col-01: white;
}

body {
  margin: 0;
  background-image: linear-gradient(90deg, #090d1d 0%, #030735 100%);
  color: var(--col-01);
}

.container {
  max-width: 900;
  margin: 1rem 2rem;
}

.card-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
  /* align-content: stretch; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1 fr));
  gap: 1rem;
}

.card {
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid var(--col-01);

  width: 200px;
  transform-style: preserve-3d;
  transform: rotateY(var(--rotate-y, 0)) translateY(var(--translate-y, 0));
}

.card:hover {
  --translate-y: -2px;
}

.card.flip {
  --rotate-y: 180deg;
}

.card .front,
.card .back {
  grid-area: 1 / 1 / 2 / 2;
  padding: 1rem;
  backface-visibility: hidden;
}

.card .back {
  transform: rotateY(180deg);
  position: absolute;
  top: 15.5%;
  left: 0%;
  /* translate: 50%, -50%; */
  text-align: right;
}

.flashcard-options {
  margin-top: 2rem;
}
